{% extends 'todoApp/base.html' %}

{% block content %}
{% load widget_tweaks %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-1 col-xs-1 col-sm-1"></div>
        <div class="col-4 offset-3 alert alert-warning alert-dismissible fade show">
            <strong>Warning!</strong> All fields are required.
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        <div class="col-md-1 col-xs-1 col-sm-1"></div>
    </div> <!--row-->

    <div class="row">
        <div class="col-md-1 col-xs-1 col-sm-1"></div>
        <div class="col-md-10 col-xs-10 col-sm-10">
            <form method="post" novalidate>
                {% csrf_token %}


                {% for field in form.visible_fields %}
                <div class="row justify-content-center">
                    <div class="col-1 pt-2 text-right">
                        {{ field.label_tag }}
                    </div>
                    <div class="col-4">
                        {% render_field field class="form-control" %}
                    </div>
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary col-1 offset-6">Submit</button>

            </form> <!--form-->
            <br>
        </div>
        <div class="col-md-1 col-xs-1 col-sm-1"></div>
    </div> <!--row-->
</div> <!--container-fluid-->

{% endblock %}
